/* Header CSS */
.navbar{
    background-color: #ffffff;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
}

.img-navbar{
    height: 80px;
}

.ul-navbar{
    list-style-type: none;  
    display: flex;
}

.nav-link{
    color: #0c0c0c;
}

.form-inline .form-control{
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,1);
    -webkit-box-shadow: 0px 0px 0px 1px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 0px 1px rgba(0,0,0,1);
}

.form-inline .btn{
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,1);
    -webkit-box-shadow: 0px 0px 0px 1px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 0px 1px rgba(0,0,0,1);
    color: black;
}


/* Content 1 CSS */
.container-content1{
    margin-top: 150px;
}

.h3-content1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.p-content1{
    text-align: center;
}

/* Content 2 CSS */
.img-content2{
    height: 250px;
    box-shadow: 10px 10px 3px -3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 3px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 3px -3px rgba(0,0,0,0.75);
    margin-top: 5%;
}

.h4-content2{
    color: black;
    padding-top: 10px;
}

.p-content2{
    color: #808080;
}











/* Footer CSS */
.container-footer{
    background-color: #0C0C0C;
    padding: 3%;
    margin-top: 10%;
}

.img-footer{
    width: 100px;
}

.container-ul{
    display: flex;
    list-style-type: none;
}

.footer-about{
    margin-left: 35px;
    color: white;
}

.footer-location{
    margin-left: 35px;
    color: white;
}

.footer-contact{
    list-style-type: none;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-self: center;
}

.i-whatsapp{
    color: white;
}

.i-instagram{
    color: white;
    padding-left: 50%;
}

.i-email{
    color: white;
    padding-left: 100%;
}

.p-footer2{
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 1%;
    color: 	#808080;
}